/**** HEADER & NAVBAR ****/
#brand-style {
  margin-right: 20vh;
  margin-left: 1vh;
}
.navbar-style {
  background-color: black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0.3));
}

@media (max-width: 768px) {
  .responsive-width {
    width: 40vh !important;
  }
  #brand-style {
    margin-right: 10vh;
  }
  .navbar-toggler {
    margin-right: 1vh;
  }
}
/**** HOME PAGE ****/
.home-container {
  background-color: black;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-title {
  background-color: #000;
  box-shadow: 0 8px 92px 20px rgba(71,28,115,.7);
  padding: 20px;
  margin-bottom: 10rem;
  margin-left: 3rem;
  margin-right: 3rem;
  border-radius: 10px;
  margin-top: 5rem;
  border: 1px solid #101010;
}

.home-title h1 {
  color: gold;
}


.home-title h2 {
  color: white;
}
.custom-card {
  background-color: rgba(255, 255, 255, 0.1) !important;
  width: 40vh !important;
  height: 25vh !important;
  margin-bottom: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-img {
  max-width: 60%;
  height: auto;
  max-height: 60%;
}
.custom-card:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(167, 246, 251, 1);
  background-color: rgba(255, 255, 255, 0.2) !important;
}


/**** FOOTER ****/
.footer {
  margin-top: auto;
  background-color: black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0.8));
}

/**** POKEMON PAGE****/
.pokemon-page {
  background-image: url('/public/images/pokemon-background.png');
  background-size: auto;
  background-position: center;
  background-color: #232323;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100vh;
}
.pokemon-title {
  color: white; /* Testo bianco fino ai : */
}

.card {
  margin: 0.3rem;
  box-sizing: border-box;
  border: none !important;
}

.card img {
  width: 100%;
  height: auto;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0.1rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('/public/images/pokemon-background.png');
  background-color: #232323;
  color: white;

}
.pagination-pokemon {
  padding-bottom: 1rem ;
  padding-top: 1rem;
  margin-bottom: 0;
  
}
/**** POKEMON-DETAIL ****/

.details-container h2,
.details-container h3 {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: red;
}

.details-container p {
  font-family: 'Arial', sans-serif;
}

.poke-detail-container {
  padding: 3rem 1.5rem !important;
  background-image: url('/public/images/pokemon-background.png');
  background-color: #232323;
}

.details-container {
  background-color: #18191a;
  color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}

.image-container {
  background-color: transparent;
  margin-bottom: 1rem;
}

.abilities-attacks-section ul {
  padding-left: 0;
}

.abilities-attacks-section ul li {
  list-style-type: none;
}

.additional-info-section div {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.prices-section .tcgplayer-section,
.prices-section .cardmarket-section {
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.tcgplayer-section,
.cardmarket-section {
  word-wrap: break-word;

}

.prices-section h3 {
  margin-top: 0;
  font-size: 1.5rem;
}

.prices-section ul {
  list-style-type: none;
  padding-left: 0;
}

.prices-section ul li {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.prices-section ul li strong {
  font-weight: bold;
}

/**** MAGIC-PAGE ****/

.magic-page {
  min-height: 100vh;
  background-image: url('/public/images/pokemon-background.png');
  background-color: #232323;
}

.result-card {
  background-color: transparent !important;
  color: white !important;
}

.loading-container-magic {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #202124;
  color: white;
}

/**** MAGIC-DETAIL-PAGE ****/

.magic-detail-container {
  margin-top: 2rem;
}
.magic-card-details {
  background-color: darkcyan;
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
}